<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tzu.hsuan.tseng.tooowlforate">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2048"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TooOwlForAteActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".BottomSheetActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SafeRingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".BroadcastActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ForegroundServiceActivity"
            android:exported="false">
        </activity>
        <service android:name=".service.ForegroundTestService"
            android:foregroundServiceType="camera|microphone"
            android:exported="false"/>
    </application>

</manifest>